<template>
  <div>
    <h1>sdfghj</h1>
    <v-row justify="center">
      <v-dialog v-model="visible" persistent max-width="600px" height="600px">
        <v-card max-width="600px">
          <v-card-title class="justify-center custom_purple">
            <span class="text-h5 white--text">{{title}}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-row class="pa-1">
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      v-model="plan.name"
                      label="Nombre*"
                      :rules="nameRules"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="plan.price"
                      label="Precio*"
                      type="number"
                      :rules="priceRules"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-select
                      v-model="plan.typePlan"
                      :items="typePlans"
                      :rules="typePlansRules"
                      chips
                      label="Tipo*"
                      multiple
                      deletable-chips
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-checkbox
                      v-model="checkBoxNpeople"
                      label="Desea elegir número de personas por plan? (Por defecto es 1)"
                      color="indigo darken-3"
                      hide-details
                    ></v-checkbox>
                  </v-col>
                  <v-col cols="12" sm="6" md="6" v-if="checkBoxNpeople">
                    <v-text-field
                      v-model="plan.peoplePerPlan"
                      label="Número de personas"
                      type="number"
                      :rules="peoplePerPlanRules"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions class="custom_purple">
            <v-spacer></v-spacer>
            <v-row class="my-1">
              <v-col cols="12" sm="12" md="12">
                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mx-2"
                  @click.stop="close()"
                >
                  {{textButton}}
                </v-btn>
                <v-btn color="error" class="mx-2" @click.stop="close()">
                  Cancelar
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<style scoped>

.custom_purple {
  background: #1f2137;
}
</style>

<script>
import { createNamespacedHelpers} from "vuex";
const {mapGetters, mapMutations} = createNamespacedHelpers("plans");

export default {
  name: "PlansForm",
  props: {
    visible: Boolean,
    title: String,
    textButton: String,
  },
  data() {
    return {
      dialog: false,
      valid: true,
      plan:{
        name: "",
        price: null,
        typePlan: [],
        peoplePerPlan: null,
      },
      typePlans: ["Wod", "Wod Online"],
      checkBoxNpeople: false,
      nameRules: [(v) => !!v || "Campo obligatorio"],
      priceRules: [
        (v) => !!v || "Campo obligatorio",
        (v) => /^[0-9]/.test(v) || "Solo se permiten números",
      ],
      typePlansRules: [(v) => v.length > 0 || "Debe seleccionar mínimo 1"],
      peoplePerPlanRules: [
        (v) => !!v || "Campo obligatorio",
        (v) => /^[0-9]/.test(v) || "Solo se permiten números",
      ],
    };
  },
  computed:{
    ...mapGetters(["getPlan"])
  },
  watch:{
    getPlan: {
      handler(newValue) {
        this.plan.name = newValue.name;
        this.plan.price = newValue.price;
        if(newValue.wod == 1){
          this.plan.typePlan.push("Wod");
        }
        if(newValue.wod_online == 1){
          this.plan.typePlan.push("Wod Online");
        }

      },
      deep: true
    }
  },
  methods: {
    ...mapMutations(["setPlan"]),
    close(){
      this.plan.name = ''
      this.plan.price = 0
      this.plan.typePlan = []
      this.plan.typePlan.push('Hola')
      this.peoplePerPlan = 0
      this.setPlan(this.plan)
      this.$emit('closeDialog')
    }
  },
};
</script>