<template>
  <v-app-bar app color="#1f2137" dark>
    <router-link to="/" style="text-decoration: none">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="../assets/img-login.jpg"
          transition="scale-transition"
          width="50"
        />
        <p class="text-h4 my-auto white--text">GYM</p>
      </div>
    </router-link>
    <v-spacer></v-spacer>
    <router-link
      :to="{ name: 'Login' }"
      class="hidden-sm-and-down"
      style="text-decoration: none"
    >
      <v-btn color="error">
        <span class="m-2">Inicio de sesion</span>
      </v-btn>
    </router-link>
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <router-link
          :to="{ name: 'Login' }"
          class="hidden-md-and-up"
          style="text-decoration: none"
        >
          <v-btn color="error" v-bind="attrs" v-on="on">
            <v-icon class="m-2">mdi-account</v-icon>
          </v-btn>
        </router-link>
      </template>
      <span>Inicio de sesión</span>
    </v-tooltip>
  </v-app-bar>
</template>

<script>
export default {
  name: "Home",
};
</script>
