<template>
    <div class="d-flex justify-center" style="margin-top:220px">
        <v-img max-width="100" max-heigth="100" src="../assets/img-login.jpg"></v-img>
        <p class="display-3 font-weight-bold mx-3 my-3">404 | Ruta no encontrada</p>
    </div>
</template>