<template>
  <div>
    <v-row class="">
      <v-col cols="12" md="12" class="text-center mb-3">
        <v-avatar size="180">
          <v-img :src="'http://api.gym.test/storage/' + user.image.url" width="300" height="300" class=""></v-img>
        </v-avatar>
        <span class="text-h3 font-weight-bold mx-5" style="color:#1f2137">Hola {{user.name}}!</span>
      </v-col>  
    </v-row>
  </div>
</template>

<style scoped>

.custom_purple {
  background: #1f2137;
}
</style>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      dialog:false,
      user: {},
      mini: true,
    };
  },
  created() {
    this.user = this.userAuth;
  },
  computed: {
    ...mapState(["userAuth", "token"]),
  },
};
</script>

<style>
</style>