<template>
  <div>
    <v-row justify="center">
      <!-- Componente que muestra una ventana para crear planes -->
      <v-dialog
        v-model="dialogState"
        persistent
        max-width="600px"
        height="600px"
      >
        <v-card max-width="600px">
          <v-card-title class="justify-center custom_purple">
            <span class="text-h5 white--text">Crear Plan</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="validate">
                <v-row class="pa-1">
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      v-model="plan.name"
                      label="Nombre*"
                      :rules="nameRules"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="plan.price"
                      label="Precio*"
                      type="number"
                      :rules="priceRules"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-select
                      v-model="plan.typePlan"
                      :items="typePlans"
                      :rules="typePlansRules"
                      chips
                      label="Tipo*"
                      multiple
                      deletable-chips
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-checkbox
                      v-model="checkBoxNpeople"
                      label="Desea elegir número de personas por plan? (Por defecto es 1)"
                      color="indigo darken-3"
                      hide-details
                    ></v-checkbox>
                  </v-col>
                  <v-col cols="12" sm="6" md="6" v-if="checkBoxNpeople">
                    <v-text-field
                      v-model="plan.peoplePerPlan"
                      label="Número de personas"
                      type="number"
                      :rules="peoplePerPlanRules"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions class="custom_purple">
            <v-spacer></v-spacer>
            <v-row class="my-1">
              <v-col cols="12" sm="12" md="12">
                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mx-2"
                  @click="validate"
                >
                  Crear
                </v-btn>
                <v-btn color="error" class="mx-2" @click.stop="close()">
                  Cancelar
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-snackbar
      v-model="snackbar.show"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      rounded="pill"
      centered
      right
    >
      {{snackbar.text}}
    </v-snackbar>
  </div>
</template>

<style scoped>

.custom_purple {
  background: #1f2137;
}
</style>

<script>

export default {
  name: "CreatePlanForm",
  props: {
    dialogState: Boolean,
  },
  data() {
    return {
      dialog: false,
      valid: true,
      plan: {
        name: "",
        price: null,
        typePlan: [],
        peoplePerPlan: null,
      },
      typePlans: ["Wod", "Wod Online"],
      checkBoxNpeople: false,
      nameRules: [(v) => !!v || "Campo obligatorio"],
      priceRules: [
        (v) => !!v || "Campo obligatorio",
        (v) => /^[0-9]/.test(v) || "Solo se permiten números",
      ],
      typePlansRules: [(v) => v.length > 0 || "Debe seleccionar mínimo 1"],
      peoplePerPlanRules: [
        (v) => !!v || "Campo obligatorio",
        (v) => /^[0-9]/.test(v) || "Solo se permiten números",
      ],
      snackbar:{
        show:false,
        timeout:2000,
        text:'',
        color:''
      },
    };
  },
  methods: {
    close() {
        this.$refs.form.reset()
        this.$emit("closeDialog");
    },
    validate(){
      if (this.$refs.form.validate()){
        console.log('Plan creado');
      }
    }
  },
};
</script>