<template>
  <div class="mx-5 my-2">
    <!-- Boton para crear plan -->
    <div class="mb-5">
      <v-tooltip right>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            fab
            dark
            color="success"
            v-bind="attrs"
            v-on="on"
            @click.stop="dialogCreatePlanForm = true"
          >
            <v-icon dark x-large> mdi-plus </v-icon>
          </v-btn>
        </template>
        <span>Crear plan</span>
      </v-tooltip>
    </div>
    <CreatePlanForm :dialogState="dialogCreatePlanForm" @closeDialog='dialogCreatePlanForm = false'></CreatePlanForm>
    <UpdatePlanForm :dialogState="dialogUpdatePlanForm" :planProps="planUpdated" @closeDialog='closeDialogUpdate()'></UpdatePlanForm>
    <!-- Campo de busqueda -->
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar..."
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <!-- Skeleton loader que se ejecuta mientras que la api responde a la peticion para traer todos los planes  -->
    <!-- <v-sheet class="pa-3" v-if="getPlans == null">
      <v-skeleton-loader
        class="mx-auto"
        type="table: table-heading, table-thead, table-tbody"
        :types="{
          'table-thead': 'heading@' + headers.length,
          'table-tbody': 'table-row-divider@' + getPerPage,
          'table-row': 'table-cell@' + headers.length,
        }"
      ></v-skeleton-loader>
    </v-sheet> -->

    <!-- Cuerpo de la tabla -->
    <v-simple-table v-if="getPlans != null">
      <template v-slot:default>
        <thead class="error">
          <tr>
            <th v-for="(item, i) in headers" :key="i" class="text-left">
              {{ item.text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in getPlans" :key="i">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.wod ? "Si" : "No" }}</td>
            <td>{{ item.wod_online ? "Si" : "No" }}</td>
            <td>{{ item.people_per_plan }}</td>
            <td>{{ item.status ? "Habilitado" : "Deshabilitado" }}</td>
            <td>
              <v-tooltip left>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon color="warning" dark v-bind="attrs" v-on="on" @click.stop="openDialogUpdate(item)">
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>
              <v-tooltip right>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    v-if="item.status == 1"
                    icon
                    color="error"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    @click="openDialog(item)"
                  >
                    <v-icon>mdi-cancel</v-icon>
                  </v-btn>
                  <v-btn
                    v-else
                    icon
                    color="success"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    @click="openDialog(item)"
                  >
                    <v-icon>mdi-check</v-icon>
                  </v-btn>
                </template>
                <span v-if="item.status == 1">Deshabilitar</span>
                <span v-else>Habilitar</span>
              </v-tooltip>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <!-- Span que aparece cuando en el momento que la busqueda no tiene resultados -->
    <div class="text-center mt-2">
      <span v-if="getPlans != null && !getPlans.length && search != ''"
        >Sin resultados en la busqueda</span
      >
    </div>

    <!-- Componente de paginacion -->
    <div class="text-center mt-2" v-if="getPlans != null">
      <v-pagination
        @input="pagination"
        color="error"
        v-model="page"
        :length="getLengthPagination"
        :total-visible="getPerPage"
      ></v-pagination>
    </div>

    <!-- Componente que muestra una ventana de confirmacion para actualizar el estado del plan -->
    <v-dialog
      v-model="dialog"
      transition="dialog-top-transition"
      max-width="600"
    >
      <v-card v-if="itemDisable != null">
        <v-card-text>
          <div class="text-h4 pt-5 text-center">
            <v-icon
              :color="itemDisable.status == 1 ? 'error' : 'success'"
              x-large
            >
            {{itemDisable.status == 1? "mdi-alert-circle" : "mdi-check-circle"}}
            </v-icon>
            {{itemDisable.status == 1? "Desea deshabilitar este plan?" : "Desea habilitar este plan?"}}
          </div>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn
            :color="itemDisable.status == 1 ? 'error' : 'success'"
            @click="updateStatus(itemDisable.id)"
            >
              <span v-if="!loader">{{ itemDisable.status == 1 ? "Deshabilitar" : "Habilitar" }}</span>
              <v-progress-circular
                v-else
                indeterminate
                color="white"
              ></v-progress-circular>
            </v-btn
          >
          <v-btn text @click="dialog = false">Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="getSnackbar.show"
      :timeout="getSnackbar.timeout"
      :color="getSnackbar.color"
      rounded="pill"
      centered
      right
      class="text-center"
    >
      {{getSnackbar.text}}
    </v-snackbar>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import CreatePlanForm from "./CreatePlan.vue";
import UpdatePlanForm from "./UpdatePlan.vue";

const { mapActions, mapGetters, mapMutations } = createNamespacedHelpers("plans");

export default {
  created() {
    this.$router.push({
      params:{
        nameComponent: 'Planes'
      }
    });
    this.listPlans();
  },
  components: {
    CreatePlanForm,
    UpdatePlanForm
  },
  data() {
    return {
      dialogCreatePlanForm: false,
      dialogUpdatePlanForm: false,
      dialog: false,
      loader:false,
      itemDisable: null,
      plans: [],
      page: 1,
      search: "",
      headers: [
        { text: "Nombre", value: "name" },
        { text: "Precio", value: "price" },
        { text: "Wod", value: "wod" },
        { text: "Wod Online", value: "wod_online" },
        { text: "# Personas", value: "people_per_plan" },
        { text: "Estado", value: "status" },
        { text: "Acciones", value: "status" },
      ],
      planUpdated:{
        name: "",
        price: null,
        typePlan: [],
        peoplePerPlan: null,
      },
    };
  },
  computed: {
    ...mapGetters(["getPlans", "getLengthPagination", "getPerPage", "getPlan", "getSnackbar"]),
  },
  methods: {
    ...mapActions(["getAllPlans", "changeStatus"]),
    ...mapMutations(["setPage", "setPlans"]),
    async listPlans() {
      this.plans = [];
      await this.getAllPlans(this.search);
    },
    async pagination(number) {
      this.setPage(number);
      await this.getAllPlans(this.search);
    },
    async updateStatus(id) {
      this.loader = true;
      await this.changeStatus(id);
      if(this.getSnackbar.show == true) this.loader = false
      this.dialog = false;
    },
    openDialog(item) {
      this.dialog = true;
      this.itemDisable = item;
    },
    openDialogUpdate(item){
      this.dialogUpdatePlanForm = true;
      this.planUpdated = item
      console.log(item);
    },
    closeDialogUpdate(){
      this.planUpdated = {}
      this.dialogUpdatePlanForm = false
    }
  },
  watch: {
    search() {
      this.setPage(1);
      this.page = 1;
      this.getAllPlans(this.search);
    },
  },
  destroyed() {
    this.setPage(1);
    this.setPlans(null);
  },
};
</script>