<template>
  <v-app app>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import {mapActions, mapState} from 'vuex';

export default {
  name: 'App',
  created(){
    this.setAuth();
  },

  data: () => ({
    text: 'Inicio de sesión',
  }),
  methods: {
    ...mapActions(['setAuth'])
  },
  computed:{
    ...mapState(['userAuth','token'])
  },
  watch:{
    userAuth(newValue){
      if(newValue){
        this.axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.token.access_token
      }
    }
  }
};
</script>
