<template>
    <v-main style="width:100%;height:100%;background-color:rgb(95, 55, 85)">
        <v-container class="my-5">
            <v-card max-width="800" max-height="auto" class="mx-auto my-auto" elevation="5">
            <v-card-text>
                <v-row>
                <v-col cols="12" lg="6" md="6" sm="6">
                    <v-img  max-width="800" max-height="800" height="auto" src="../assets/img-login.jpg"></v-img>
                </v-col>
                <v-col cols="12" lg="6" md="6" sm="6">
                    <router-view></router-view>
                </v-col>
                </v-row>
            </v-card-text> 
            </v-card>
        </v-container>
    </v-main>
</template>

<style>
    
</style>