<template>
  <v-app>
    <v-app-bar app dark color="#1f2137" extended extension-height="3">
      <v-toolbar-title class="text-h5">GYM</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-toolbar-title class="text-h5">{{this.$route.params.nameComponent ? this.$route.params.nameComponent.toUpperCase() : 'WELCOME'}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon v-bind="attrs" v-on="on" @click="cerrarSesion()">
            mdi-logout
          </v-icon>
        </template>
        <span>Cerrar sesión</span>
      </v-tooltip>
    </v-app-bar>
    <v-navigation-drawer
      app
      permanent
      mini-variant
      expand-on-hover
      class="elevation-5"
    >
      <v-list>
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img
              :src="'http://api.gym.test/storage/' + getUserAuth.image.url"
            ></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              {{ getUserAuth.name }}
            </v-list-item-title>
            <v-list-item-subtitle>{{ getUserAuth.email }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list nav dense>
        <v-list-item
          link
          v-for="(item, index) in items"
          :key="index"
          :to="{ name: item.route, params: {nameComponent: item.name.toUpperCase()} }"
          style="text-decoration: none"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ item.name }}</v-list-item-title>
        </v-list-item>
      </v-list> 
    </v-navigation-drawer>
    <v-card app class="mx-5 my-2 elevation-5">
      <!-- <v-main> -->
        <v-container>
          <transition name="fade" mode="out-in">
            <router-view></router-view>
          </transition>
        </v-container>
      <!-- </v-main> -->
    </v-card>
  </v-app>
</template>

<style scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }
</style>

<script>
import { mapMutations, mapGetters } from "vuex";

export default {
  created() {
    console.log(this.getUserAuth);
  },
  data() {
    return {
      drawer: true,
      items: [
        { name: "Planes", icon: "mdi-folder", route: "Plans"},
        { name: "Usuarios", icon: "mdi-account-multiple", route: "Welcome" },
        { name: "Starred", icon: "mdi-star", route: "Welcome" },
      ],
      mini: true,
    };
  },
  methods: {
    ...mapMutations(["logout"]),
    cerrarSesion() {
      localStorage.removeItem("auth");
      this.logout();
      this.$router.push({ name: "Login" });
    },
  },
  computed: {
    ...mapGetters(["getUserAuth"]),
  },
};
</script>