<template>
  <v-main>
    <v-toolbar dark color="#1f2137">
      <v-toolbar-title class="mx-auto display-1"
        >Recuperar contraseña</v-toolbar-title
      >
    </v-toolbar>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      class="my-5 mx-2"
      @submit.prevent="validate"
    >
      <v-row>
        <v-col cols="12" lg="12" sm="6">
          <p>
            A continuación ingrese su correo electrónico registrado, al cual se
            le enviará un código para recuperar su contraseña.
          </p>
        </v-col>
        <v-col cols="12" lg="12" sm="6">
          <v-text-field
            prepend-icon="mdi-account"
            v-model="email"
            label="Correo"
            :rules="emailRules"
          />
        </v-col>
        <v-btn
          :disabled="!valid"
          class="my-3 mx-auto"
          color="#1f2137"
          style="text-decoration: none; color: white"
          type="submit"
        >
          <span v-if="!loader">Enviar email</span>
          <v-progress-circular
            v-else
            indeterminate
            color="white"
          ></v-progress-circular>
        </v-btn>
        <v-col cols="12" lg="12" sm="6" v-if="show">
          <div class="text--caption">Ingrese el código</div>
          <v-otp-input
            type="number"
            length="5"
            v-model="otp"
            :disabled="loading"
            @finish="onFinish"
          ></v-otp-input>
          <v-overlay absolute :value="loading">
            <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
          </v-overlay>
        </v-col>
      </v-row>
    </v-form>
    <v-snackbar
      v-model="snackbar"
      :color="snackbarColor"
      :timeout="2000"
      rounded="pill"
      centered
      right
    >
      {{ text }}
    </v-snackbar>
  </v-main>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const { mapMutations } = createNamespacedHelpers("auth");

export default {
  data: () => ({
    valid: true,
    email: "",
    userEmail: "",
    emailRules: [
      (v) => !!v || "Campo obligatorio",
      (v) => /.+@.+\..+/.test(v) || "Correo inválido. Ej: persona@gmail.com",
    ],
    loading: false,
    snackbar: false,
    snackbarColor: "default",
    otp: "",
    text: "",
    user: "",
    show: false,
    loader:false
  }),

  methods: {
    ...mapMutations(["setResetPassword"]),
    validate() {
      if (this.$refs.form.validate()) {
        this.loader = true
        this.axios
          .post("/forgot-password", {
            email: this.email,
          })
          .then((response) => {
            if(response) this.loader = false
            this.show = true;
            this.userEmail = response.data.user.email;
          })
          .catch((error) => {
            if (error.response.status == 422) {
              this.loader = false
              this.snackbar = true;
              this.text = "El correo no existe";
              this.snackbarColor = "error";
            }
          });
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    onFinish() {
      this.loading = true;
      this.axios
        .post("/validate-code", {
          email: this.userEmail,
          token: this.otp,
        })
        .then((response) => {
          this.loading = false;
          this.setResetPassword(response.data.resetPassword);
          this.$router.push({ name: "ResetPassword" });
        })
        .catch((error) => {
          if (error.response.status == 404) {
              this.snackbar = true;
              this.text = "Código incorrecto";
              this.snackbarColor = "error";
            }
          this.loading = false;
          console.log(error);
        });
    },
  },
};
</script>
