<template>
  <v-main>
    <v-toolbar dark color="#1f2137">
      <v-toolbar-title class="mx-auto display-1"
        >Iniciar Sesión</v-toolbar-title
      >
    </v-toolbar>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      class="my-3 mx-2"
      @submit.prevent="validate"
    >
      <v-row>
        <v-col cols="12" lg="12" sm="6">
          <v-text-field
            color="#1f2137"
            prepend-icon="mdi-account"
            v-model="email"
            label="Correo"
            :rules="emailRules"
          />
        </v-col>
        <v-col cols="12" lg="12" sm="6">
          <v-text-field
            color="#1f2137"
            prepend-icon="mdi-lock"
            type="password"
            v-model="password"
            label="Contraseña"
            :rules="passwordRules"
          />
        </v-col>
        <v-col cols="12" lg="12" sm="12">
          <router-link :to="{ name: 'ConfirmEmail' }">
            <v-btn
              small
              outlined
              class="text-decoration-underline mx-auto"
              style="border: none"
              color="indigo"
            >
              Recuperar contraseña
            </v-btn>
          </router-link>
        </v-col>
        <v-btn
          :disabled="!valid"
          color="#1f2137"
          style="color: white"
          x-large
          class="my-3 mx-auto"
          type="submit"
        >
          <span v-if="!loader">Iniciar sesión</span>
          <v-progress-circular
            v-else
            indeterminate
            color="white"
          ></v-progress-circular>
        </v-btn>
      </v-row>
    </v-form>
    <v-snackbar
      v-model="snackbar.show"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      rounded="pill"
      centered
      right
    >
      {{snackbar.text}}
    </v-snackbar>
  </v-main>
</template>

<script>
import { API_CLIENT_ID, API_CLIENT_SECRET } from "../../config.js";
import { mapMutations } from "vuex";

export default {
  data: () => ({
    valid: true,
    password: "",
    passwordRules: [(v) => !!v || "Campo obligatorio"],
    email: "",
    emailRules: [
      (v) => !!v || "Campo obligatorio",
      (v) => /.+@.+\..+/.test(v) || "Correo inválido. Ej: persona@gmail.com",
    ],
    snackbar:{
      show:false,
      timeout:2000,
      text:'',
      color:''
    },
    loader:false
  }),

  methods: {
    ...mapMutations(["login"]),
    validate() {
      if (this.$refs.form.validate()) {
        this.loader = true
        this.axios
          .post("/login", {
            client_id: API_CLIENT_ID,
            client_secret: API_CLIENT_SECRET,
            username: this.email,
            password: this.password,
          })
          .then((response) => {
            if(response) this.loader = false
            localStorage.setItem("auth", JSON.stringify(response.data));
            this.login(response.data);
            this.$router.push({ name: "Welcome" });
          })
          .catch((error) => {
            if (error.response.status == 400) {
              this.loader = false
              this.snackbar.show = true
              this.snackbar.timeout = 2000
              this.snackbar.text = 'Usuario y/o contraseña incorrectos'
              this.snackbar.color = 'error'
            } else {
              console.log(error);
            }
          });
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
  },
};
</script>
