<template>
  <v-content>
    <v-toolbar dark color="#1f2137">
      <v-toolbar-title class="mx-auto display-1"
        >Recuperar contraseña</v-toolbar-title
      >
    </v-toolbar>
    <v-row>
      <v-col cols="12" lg="12" md="12" sm="12">
        <v-form ref="form" v-model="valid" lazy-validation class="my-5 mx-2" @submit.prevent="validate">
          <v-row>
            <v-col cols="12" lg="12" sm="12">
              <v-text-field
                :append-icon="icon"
                :type="type"
                v-model="newPassword"
                label="Nueva contraseña"
                :rules="passwordRules"
                @click:append="showPassword"
              />
            </v-col>
            <v-col cols="12" lg="12" sm="12" class="d-flex">
              <v-text-field
                :type="type"
                v-model="confirmPassword"
                label="Confirmar contraseña"
                :rules="repeatPasswordRules"
              />
              <!-- <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn 
                  class="mt-5" 
                  x-small 
                  fab 
                  v-bind="attrs"
                  v-on="on"
                  @click="showPassword"
                  >
                    <v-icon>
                      {{ icon }}
                    </v-icon>
                  </v-btn>
                </template>
                <span>{{ text }}</span>
              </v-tooltip> -->
            </v-col>
            <v-btn
              type="submit"
              :disabled="!valid"
              color="#1f2137"
              style="color: white"
              class="my-3 mx-auto"
            >
              
              <span v-if="!loader">Reestablecer</span>
          <v-progress-circular
            v-else
            indeterminate
            color="white"
          ></v-progress-circular>
            </v-btn>
          </v-row>
        </v-form>
      </v-col>
      <v-snackbar
      v-model="snackbar"
      :color="snackbarColor"
      :timeout="2500"
      rounded="pill"
      centered
      right
    >
      {{ snackbarText }}
    </v-snackbar>
    </v-row>
  </v-content>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const { mapState, mapMutations } = createNamespacedHelpers("auth");

export default {
  created() {
    if (this.resetPassword == null) {
      this.$router.replace({ name: "Home" });
    }
  },
  data: () => ({
    valid: true,
    newPassword: '',
    confirmPassword: '',
    passwordRules: [
      (v) => !!v || "Campo obligatorio",
      (v) => (v && v.length >= 8) || 'Debe contener mínimo 8 caracteres'],
    ConfirmPasswordRules: [
      (v) => !!v || "Campo obligatorio",
      (v) => (v && v.length >= 8) || 'Debe contener mínimo 8 caracteres',
      (v) => v === this.newPassword || 'Las contraseñas deben coincidir'],
    email: "",
    emailRules: [
      (v) => !!v || "Campo obligatorio",
      (v) => /.+@.+\..+/.test(v) || "Correo inválido. Ej: persona@gmail.com",
    ],
    type: "password",
    icon: "mdi-eye",
    text: "Mostrar contraseña",
    snackbar: false,
    snackbarColor: "default",
    snackbarText: "",
    loader:false
  }),

  methods: {
    ...mapMutations(["clearResetPassword"]),
    showPassword() {
      if (this.type == "password") {
        this.type = "";
        this.icon = "mdi-eye-off";
        this.text = "Ocultar contraseña";
      } else {
        this.type = "password";
        this.icon = "mdi-eye";
        this.text = "Mostrar contraseña";
      }
    },
    validate() {
      if (this.$refs.form.validate()) {
        if (this.newPassword == this.confirmPassword) {
          this.loader = true
          this.axios
            .post("/reset-password", {
              email: this.resetPassword.email,
              token: this.resetPassword.token,
              password: this.newPassword,
              password_confirmation: this.confirmPassword,
            })
            .then((response) => {
              console.log(response.status);
              if(response) this.loader = false
              if(response.status == 201){
                this.loader = false
                this.snackbar = true;
                this.snackbarText = "Contraseña actualizada con éxito";
                this.snackbarColor = "success";
                this.clearResetPassword();
                this.$router.replace({ name: "Login" });
              }
            })
            .catch((error) => {
              console.log(error);
            });
        } else {
          alert("Las contraseñas deben coincidir");
        }
      } else {
        alert("Error");
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
  },
  computed: {
    repeatPasswordRules() {
      return [
        (v) => !!v || 'Campo obligatrio',
        (v) => (v === this.newPassword) || 'Las contraseñas deben coincidir',
      ];
    },
    ...mapState(["resetPassword"]),
  },
};
</script>
